* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'ProductSans';
  }
  
  html, body {
    margin: 0px !important;
    color: #7f8c8d;
    font-size: 16px;
    background-color: #dde1e2; 
    width: 100%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    overscroll-behavior-y: contain;
}

/* custom */

